{% extends 'base.html.twig' %}

{% block body %}
  <h4> This is really a great blog ;-)</h4>

<h1> {{ title}} </h1>

{% if age > 18 %}
    <p> you are over 18 </p>
{% else %}
    <p> you are under 18 </p>
{% endif %}

{% endblock %}







